*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ib {
    display: inline-block;
    vertical-align: middle;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.has-error .error-mes {
    color: #a94442;
}
.captcha img {
    width: 100%;
}
.site-content {
    width: 980px;
    margin: auto;
}
.site-list {
    word-spacing: 0px;
}
.site-list * {
    word-spacing: normal;
}
.site-list .title {
    min-height: 26px;
    font-size: 12px;
}
.site-item {
    width: 106px;
    vertical-align: top;
    margin: 0px 15px;
    margin-bottom: 10px;
}
.site-item .btn {
    font-size: 10px;
    padding: 0px 2px;
}

.img-box {
    display: block;
    text-align: center;
    height: 125px;
    width: 105px;
    overflow: hidden;
    /*border-radius: 4px;*/
    padding: 4px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.site-item:hover .img-box{
    border: 1px solid #3ca7df;
}
.img-box img {
    max-width: 100%;
    height: auto;
}
.modal .modal-dialog {
    width: 90%;
    height: 100%;
}
.control-label {
    font-size: 18px;
}