.ib {
    display: inline-block;
    vertical-align: top;
}
.cell {
    display: table-cell;
}
.panel-heading h2 {
    margin: 0px;
}
a.glyphicon {
    color: #333;
}
a.glyphicon:hover {
    text-decoration: none;
    color: #757575;
}
a.glyphicon:active, a.glyphicon:focus {
    text-decoration: none;
}
.panel-body .glyphicon {
    font-size: 20px;
}
a.delete {
    color: #ff6c60;
}
a.delete:hover {
    color: #ffa18c;
}
a.delete-no {
    color: #9a979b;
    cursor: default;
}
a.delete-no:hover{
    color: #9a979b;
}
a.folder {
    color: #B67102;
}
a.folder-empty {
    color: #9a979b;
}
a.pensil {
    color: #4C4C4C;
}
.action a {
    margin: 0px 2px;
}
.table .action {
    text-align: right;
}
 /*Сортируемая таблица*/
.sorted-table .sort {
    width: 50px;
    text-align: center;
}
.sorted-table .sort-handle{
    color: #9a979b;
    cursor: pointer;
}
.sorted-table .dragged {
    width: 100%;
    position: absolute;
    opacity: 0.5;
}
.sorted-table .dragged .action{
    float: right;

}
.sorted-table .placeholder {
    height: 40px;
    width: 100%;
}

.red {
    color: #ff6c60;
}
.green {
    color: #5cd572;
}
.list-items {
    padding-left: 0px;
    border: 1px solid #485563;
}
.list-items ul {
    padding-left: 0px;
    display: none;
    border: 1px solid #485563;
    margin-top: 10px;
}
.list-group-item {
    display: table;
    width: 100%;
}
.list-items .handler-cell {
    width: 20px;
}
.list-items .action {
    float: right;
}
.list-items .action .ib {
    margin: 0px 3px;
}
.list-items .handler {
    color: #df691a;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    left: 0px;
}
.list-items .id {
    margin-left: 28px;
    width: 30px;
}
.list-items .count {
    background: #df691a;
    color: #f5f5f5;
    padding: 0px 4px;
    cursor: default;
}
.list-items li {
    padding: 10px 0px;
    margin-bottom: 0px;
}
.attachments {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    padding-top: 2px;
}
.table td.over-text {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table .img {
    height: 23px;
    overflow-y: hidden;
}
.form-image {
    max-height: 100px;
    overflow: hidden;
}